<% if @question.errors.present? %>
  $('.question-errors').html('')
  <% @question.errors.full_messages.each do |message| %>
    $('.question-errors').append('<p><%= message %></p>')
  <% end %>
<% else %>
  $('.question').html(`<%= render 'question', question: @question %>`)
<% end %>